# --- Frontend (React) ---
**/node_modules/
**/dist/
.env.local
.env

# --- Backend (Spring Boot) ---
**/target/
**.class
.mtj.tmp/

# --- IDEs & System Junk ---
.idea/
.vscode/
.metadata/
*.iml
.DS_Store